<h1> <%= @user.username %>'s Profile </h1>

<h3> Posts </h3>

<% @userposts.reverse.each do |post| %>
<div class="panel panel-default">
  <div class="panel-heading"><%= User.find(post.user_id).username %> posted:</div>
  <div class="panel-body">
    <section class="posts">
    <%= auto_link(post.message) %>
    </section>
    <%= link_to 'Show', post_path(post) %>
  </div>
    <div class="panel-footer" >
      <div class="panel-footer-left">
        Posted at - <%= post.created_at.strftime('%-d/%m/%Y %H:%M') %><br>
        Likes: <%= Like.where(post_id: post.id).size  %>
      </div>
      <div class="panel-footer-right">
        <% if post.source_id %>
        <span class="label label-danger"><%= Source.find_by(id: post.source_id).type_one %></span>
        <% end %>
        <% if Flag.where(user_id: current_user.id, post_id: post.id).exists? %>
          <img class="flag-picture" src="https://www.emojibase.com/resources/img/emojis/apple/x1f4a9.png.pagespeed.ic.292Eth5N9Z.png">
        <% end %>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
<% end %>
