<div class="panel panel-default">
  <div class="panel-heading"><%= User.find(@post.user_id).username %> posted:</div>
  <div class="panel-body">
    <section class="posts">
    <%= auto_link(@post.message) %>
    </section>
    <%= link_to 'Show', post_path(@post) %>
  </div>
  <div class="panel-footer">Posted at - <%= @post.created_at.strftime('%-d/%m/%Y %H:%M') %><br>
  Likes: <%= Like.where(post_id: @post.id).size  %> </div>
</div>



<% @post.comments.each do |comment| %>

  <% commenter = User.find(comment.user_id).username %>
	<p> <%= commenter %> says: <br>
	<%= auto_link(comment.body) %>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
<p>
  <%= f.label :body %><br>
  <%= f.text_area :body %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
